<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=chrome">
  <meata name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

  <title></title>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <link rel="shortcut icon" href="#">

  {% block head %}
  {% endblock %}

</head>

<body>
  {% block body %}
  {% endblock %}

</body>
</html>
